.container-fluid .logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.card {
    box-shadow: 3px 5px 5px rgb(207, 207, 207);
}

.card-img-top {
    align-self: center;
    padding: 5px;
    padding-bottom: 0;
    max-height: 250px;
}

.card-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.likes-info {
    color: gray;
    text-align: center;
}

.buttons-container .btn {
    width: 120px;
}